*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header
{
    width: 100%;
    height: 90vh;
    background:linear-gradient(rgba(1,0,50,0.8),rgba(1,0,55,0.8)), url('../images/banner.png');
    background-size: cover;
    background-attachment: fixed;
}

nav
{
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px 80px;
    position: fixed; 
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo
{
    font-family: sans-serif;
    font-size: 2.5em;
}

.logo span
{
    color: #e74c3c;
}

.menu
{
    padding: 10px 20px;
}

.menu a
{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 20px;
}

.menu a:first-child
{
    color: #e74c3c;
}

.menu a:hover
{
    color: #e74c3c;
}

.icon
{
    padding: 10px 20px;
}

.icon i 
{
    font-size: 20px;
}

.icon i:hover
{
    color: #e74c3c;
}

.icon a 
{
    text-decoration: none;
    background: #e74c3c;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
}

.h-text
{
    color: white;
    max-width: 700px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}

.suggestions 
{
    display: none;
    position: absolute;
    margin-left: 30px;
    background-color: #fff;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto;
    width: 407px;
    
}
  
.suggestion-item 
{
    padding: 10px;
    cursor: pointer;
    color: #333;
}
  
.suggestion-item:hover 
{
    background-color: #f0f0f0;
}

#camera
{
    font-size: 40px;
    margin-bottom: 10px;  
}

.h-text h1
{
    font-family: sans-serif;
    font-size: 3em;
    line-height: 1.5em;
}

.h-text input
{
    width: 60%;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
}

.h-text button
{
    width: 30%;
    padding: 20px;
    background: #e74c3c;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.filter-gallery
{
    padding: 100px;
}

.portfolio-menu
{
    text-align: center;
    margin-bottom: 20px;
} 

.portfolio-menu ul li 
{
    list-style: none;
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}

.portfolio-menu ul li:hover
{
    color: white;
    background: #e74c3c;
    border-radius: 8px;
} 

li.active
{
    color: white;
    background: #e74c3c;
    border-radius: 8px;
}

.series-heading 
{
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333;
    text-align: center;
    padding: 20px;
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.all-serieses
{
    width: 90%;
    height: 1000px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 0 auto;
}

table td, table th 
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card 
{
  border-radius: .5rem;
}

.all-matches
{
    width: 90%; 
    height: 600px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.all-matches::-webkit-scrollbar {
    display: none; /* Hides scrollbar on Chrome, Safari, and Opera */
}

.match
{
    border: 1px solid rgb(207, 206, 206); 
    width: 32%; 
    height: 300Px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(14, 13, 13, 0.1);
    margin-bottom: 10px;
    flex: 0 0 auto; /* Ensure each match div takes its natural width */
    margin-right: 10px; /* Add some space between each match div */
}

.match-name-div
{
    width: 100%; 
    height: 15%; 
    text-align: center; 
}

.match-name
{   
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #9e0664;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    animation: matchNameAnimation 2s ease-in-out infinite alternate;
    white-space: pre-wrap;
}
  
@keyframes matchNameAnimation 
{
    0% 
    {
      transform: scale(1);
    }
    100% 
    {
      transform: scale(1.05);
    }
}

.match-details-div
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    height: 20%; 
    text-align: center; 
    padding-top: 5px;
}

.match-venue
{
    font-family: 'Verdana', sans-serif;
    color: #c022ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.match-date
{
    font-family: 'Verdana', sans-serif;
    color: black;
    letter-spacing: 1px;
    margin-right: 15px;
    font-weight: bold;
    font-weight: bold;
}

.live-label 
{
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
  
.live-label::after 
{
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: 2px;
    background-color: red;
    animation: underline 2s infinite;
}
  
@keyframes underline {
0% {
    width: 0;
}
50% {
    width: 100%;
}
100% {
    width: 0;
}
}
  

.team-1-div, .team-2-div
{
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    height: 20%; 
    text-align: center;
}

.team-2-div
{
    margin-top: 10px;
}

.team-1-image-div, .team-2-image-div
{
    width: 20%;
    justify-content: center;
} 

.team-1-name-div, .team-2-name-div
{
    width: 40%;
    justify-content: center;
}

.team-1-score-div, .team-2-score-div
{
    width: 20%;
    justify-content: center;
}

.team-1-overs-div, .team-2-overs-div
{
    width: 20%;
    justify-content: center;
}

.team-1-name, .team-1-score, .team-2-name, .team-2-score
{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 14px;
}

.team-1-overs, .team-2-overs
{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0bcc6c;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 14px; 
}

.match-result-div
{
    height: 25%; 
}

.match-result
{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #4c53af;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: pre-wrap;
}
  

  

  
  























.member
{
    width: 100%;
    padding: 20px 100px;
    font-family: sans-serif;
}

.member-info
{
    text-align: center;
}

.member-info h1
{
    font-size: 2.5em;
}

.member-info h1 span
{
    color: #e74c3c;
}

.member-card
{
    text-align: center;
    padding-top: 50px;
    width: 50%;
    margin: auto;
}

.member-card p
{
    margin: 20px 0;
    line-height: 2em;
}

.member-card h2
{
    margin: 20px 0;
}

.m-images
{
    width: 100%;
    display: flex;
    margin: 20px 0;
    overflow: hidden;
}

.m-images img
{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.m-images img:hover
{
    transform: scale(1.5);
}

footer
{
    width: 100%;
    background: #262626;
    padding: 50px 100px;
}

.newsletter
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
}

.newsletter >div
{
    flex-basis: 50%;
}

.ntext
{
    text-align: right;
}

.newsletter h2
{
    font-size: 2em;
    font-family: sans-serif;
}

.newsletter p
{
    font-size: 20px;
    margin-top: 10px;
}

.newsletter label
{
   position: relative;
}

.newsletter input
{
   padding: 20px;
   width: 70%;
   border-radius: 8px;
   border: none;
   outline: none;
   font-family: sans-serif;
}

.newsletter button
{  
   position: absolute; 
   right: 0;
   padding: 20px;
   width: 30%;
   background: #e74c3c;
   color: white;
   border: none;
   outline: none;
   border-radius: 0 8px 8px 0;
}

.f-contact
{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.f-contact>div
{
    flex-basis: 20%;
}

.f-contact p
{
    line-height: 2em;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.f-contact p:hover
{
    color: white;
}

.f-contact i
{
    background: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    margin: 20px 5px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.f-contact i:hover
{
    background: transparent;
    color: white;
    border: 1px solid wheat;
}    